.usa-button {
  border-radius: 0;
  line-height: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
}

.usa-button.file-list-item-button {
  width: 90px;
}

.image-card a {
  margin-left: .5em;
  margin-right: .5em;
}

// .editor-add-page::before {
//   background-image: url('/images/sprites.svg');
//   background-repeat: no-repeat;
//   background-position: -128px -75px;
//   background-size: 300px 150px;
//   box-sizing: content-box;
//   content: " ";
//   display: inline-block;
//   height: 15px;
//   width: 15px;
// }
