.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
}

.ProseMirror-content {
  min-height: 30em;
}

.ProseMirror-content:focus {
  border: none;
  outline: none;
}

.preview-buttons {
  display: inline-block;

  .preview-button {
    display: block;;
  }
  .preview-button-disabled {
    display: none;
  }
}

.preview-buttons.processing {
  .preview-button {
    display: none;
  }
  .preview-button-disabled {
    display: block;
  }
}

.save-panel {
  margin: 1em;
}

.save-panel .panel-heading {
  margin-left: 3em;
  margin-top: .5em;
}
