<h2>Assigned pages</h2>
<p>Pages in your site menu appear in the same order they're placed here.</p>
<div class="usa-width-one-whole pages-listing-controls">
    <input id="select-all" type="checkbox">
    <ul class="usa-unstyled-list">
      <li><a id="delete-draft">Delete Draft</a></li>
      <li><a id="delete-page">Delete Page</a></li>
      <li><a id="publish">Publish</a></li>
      <li><a id="save-navigation">Save Navigation</a></li>
    </ul>
</div>
<ul class="list-group" id="assigned"></ul>

<!-- <h2>Unassigned pages</h2>
<ul id="unassigned"></ul> -->
