@import "sass/_variables";

@import "sass/_animations";
@import "sass/_breadcrumb";
@import "sass/_buttons";
@import "sass/_editors";
@import "sass/_forms";
@import "sass/_header";
@import "sass/_home";
@import "sass/_image-cards";
@import "sass/_jstree";
@import "sass/_labels";
@import "sass/_text";

body {
  background-color: $secondary-bg-color;
}

.site {

}

.site-navigation ul {
  list-style-type: none;
  margin-top: 2em;
}

.site-navigation li {
  margin-bottom: 1em;
}

.site-navigation li::before {
  background-image: url('/images/sprites.svg');
  background-repeat: no-repeat;
  background-size: 400px 250px;
  box-sizing: content-box;
  content: " ";
  display: inline-block;
  height: 20px;
  margin-right: .8em;
  width: 23px;
}

.pages::before {
  background-position-x: -114px;
  background-position-y: -4px;
}

.media::before {
  background-position-x: -114px;
  background-position-y: -31px;
}

.settings::before {
  background-position-x: -114px;
  background-position-y: -59px;
}

.logs::before {
  background-position-x: -114px;
  background-position-y: -87px;
}

.site-navigation a {
  cursor: pointer;
}

.site-editor {
  background-color: white;
  padding-left: 1em;
}

.site-editor h1 {
  display: inline-block;
  font-size: 2em;
}

.editor-add-page {

}

.site-title {
  background-color: #f1f1f1;
  color: #212121;
  display: inline-block;
  margin: 0;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 5.5rem;
  padding-top: 1.5rem;
  width: 70%;
}

.site-publishing-status {
  display: inline-block;
  text-align: right;
  width: 25%
}

.recent-drafts {
  width: 100%;
}

.pull-right {
  float: right;
}

.pull-right::after {
  content: '';
  clear: both;
  display: table-cell;
}

@media screen and (min-width: 600px) {
  form {
    max-width: 100%;
  }
}

.list-group {
  width: 100%;
}

.list-group li:before {
  content: '';
}

.list-group li {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  display: list-item;
}

.list-group li:last-child {
  border-width: 0;
}

.list-group-item {
  line-height: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

.list-group ul {
  margin-bottom: 0;
  margin-top: 1.3em;
  padding-left: 1em;
}

.mask {
  cursor: not-allowed;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.build-log-table td:last-child {
  word-break: break-word;
}
